torch==2.4.0
torchvision==0.19.0
torchaudio==2.4.0
torchmetrics==1.4.0
transformers==4.43.3
tokenizers==0.19.1
safetensors==0.4.3

numpy==1.26.4
scipy==1.13.1
pandas==2.2.2
scikit-learn==1.5.0

opencv-python==4.10.0.84
scikit-image==0.23.2
albumentations==1.4.10
patchify==0.2.3
imageio==2.34.1

matplotlib==3.9.0
tqdm==4.66.4
openpyxl

nltk